{% extends 'applab/base.html' %}

{% block content %}
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                    <div class="panel panel-default"  style="max-width:900px;margin-left:auto; margin-right:auto;">
                          <div class="panel-body">
                                <p class="lead" style="color:#075290;"><strong>
                                    App Lab is a tool for the Informatics Innovation Unit (IIU), CDC, and its public health partners to test and collaborate on innovative mobile applications and prototypes. App Lab features apps for iOS and Android.<br />
                                    <br>
                                    To access IIU mobile prototypes/apps (App Lab), you must agree with the following statements:</strong></p>
								    <ul>
                                	<li class="lead">I acknowledge that I am a member of the CDC developer and/or testing community.</li>
									<li class="lead">I understand that App Lab is meant for CDC staff, authorized agents of CDC (e.g., contractors), or CDC community partners only.</li>
									<li class="lead">I understand that App Lab does NOT contain production apps, but only prototype and/or proof-of-concept apps for collaboration and/or testing purposes.</li>
                                    <li class="lead">I understand that under non circumstance may I use data that contains personally identifiable information (PII)</li>
								</ul>
                              <br>
                                <p class="lead"><span>Click <a href="http://www.phiresearchlab.org/index.php/code-of-conduct/">here</a> to read the code of conduct.</span></p>
                                <p class="lead">If you agree with these statements, you may proceed by entering your password:</p>
                                <!--{% if form.errors %}-->
                                  <!--<p>Your username and password didn't match. Please try again.</p>-->
                                <!--{% endif %}-->
                              <!--<form method="post" action="{% url 'django.contrib.auth.views.login' %}">-->
                                  <!--{% csrf_token %}-->
                                  <!--<table>-->
                                      <!--<tr>-->
                                          <!--<td>{{ form.username.label_tag }}</td>-->
                                          <!--<td>{{ form.username }}</td>-->
                                      <!--</tr>-->
                                      <!--<tr>-->
                                          <!--<td>{{ form.password.label_tag }}</td>-->
                                          <!--<td>{{ form.password }}</td>-->
                                      <!--</tr>-->
                                  <!--</table>-->

                                  <!--<input type="submit" value="Log in" class="btn btn-primary"/>-->
                                  <!--<input type="hidden" name="next" value="{{ next }}" />-->
                              <!--</form>-->
                              <div class="row">
                                    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                                        <div class="panel panel-info" >
                                                <div class="panel-heading">
                                                    <div class="panel-title">Log In</div>
                                                </div>

                                                <div style="padding-top:30px" class="panel-body" >

                                                     {% if form.errors %}
                                                        <div class="alert alert-danger col-sm-12"><p>Your username and password didn't match. Please try again.</p></div>
                                                    {% endif %}
                                                    <form id="loginform" class="form-horizontal" role="form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
                                                     {% csrf_token %}
                                                        <div style="margin-bottom: 25px" class="input-group">
                                                               <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                                               <input id="username" type="text" class="form-control" name="username" value="" placeholder="username">
                                                         </div>

                                                        <div style="margin-bottom: 25px" class="input-group">
                                                                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                                                    <input id="password" type="password" class="form-control" name="password" placeholder="password">
                                                                </div>
                                                            <div style="margin-top:10px" class="form-group">
                                                                <!-- Button -->
                                                                <div class="col-sm-12 controls">
                                                                  <input type="submit" value="Log in" class="btn btn-primary"/>
                                                                  <input type="hidden" name="next" value="{{ next }}" />
                                                                </div>
                                                            </div>
                                                        </form>
                                                        <div>
                                                        <p class="request-code">To request access, please e-mail: <a href="mailto:informaticslab@cdc.gov">informaticslab@cdc.gov</a>.
                                                        </div>
                                                    </div>
                                                </div>
                                    </div>

                                </div>

                          </div>
					</div>
                    
                </div>
                
            </div>

        </div>
        <!-- /.container -->

    </div>
    
{% endblock %}
